#app {
  position: relative;
  height: 40rem;
  width: 50rem;
  left: 10%;
  background-color: "#d3d3d3";
  overflow: hidden;
}

.playerCar {
  position: absolute;
  height: 80px;
  width: 40px;
  bottom: 60px;
  left: 365px;
  border-radius: 5px;
  background-image: url("../images/car1.png");
  background-size: cover;
  z-index: 100;
}
