#app {
  position: relative;
  height: 40rem;
  width: 50rem;
  left: 10%;
  background-color: "#d3d3d3";
  overflow: hidden;
}

.playerCar {
  background-image: url("../images/car1.png");
  top: 32rem;
  left: 27rem;

}

.enemyCar {
  background-image: url("../images/car2.png");
  top: 10rem;
  left: 27rem;
}
